
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.navbar ul li{
list-style: none;
display: inline-block;
margin: 0 20px;
position: relative;
}
.navbar ul li a{
  text-decoration:none;
  color: #fff;
  text-transform:uppercase;
  text-align:inherit;
}
.navbar ul li ::after{
  content: ' ';
height: 3px;
width: 0;
background: #009688;
position: absolute;
left: 0;
bottom:-10;
transition: 0.5s;
}
.container{
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  padding: 55px 50px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container .title{
  font-size: 25px;
  font-weight: 100;
  position: 100px;
  max-height: 100px;
  height: 30px;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 10;
  bottom:0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  justify-content:center;
}
  .container .title::after{
    content: "";
    position: absolute;
    left: 10;
    bottom:0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    justify-content:center;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 10 12px 0;
}
form .user-details .input-box{
  margin-bottom: 10px;
  width: calc(100% / 2 - 20px);
}
form .user-details .input-box select{
  margin-bottom:1px;
  width: calc(210% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 50;
  margin-bottom: 5px;
}
  form .input-box select.details{
    display: block;
    font-weight: 50;
    margin-bottom: 5px;
}
.user-details .input-box input{
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box select{
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 form .button{
   align-content: center;
   height: 45px;
   margin:10px 0px;
   width: auto;
 }
 form .button input{
   height: 100%;
   width: 120%;
   border-radius: 10px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 1px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 100px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
